# Created by .ignore support plugin (hsz.mobi)
### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

/.idea

# User-specific stuff:
.idea/**/workspace.xml
.idea/**/tasks.xml

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/.idea/vagrant.xml
/.idea/php.xml
/.idea/jsLibraryMappings.xml
/.idea/deployment.xml

*.bak
LANGUAGE/__delete_me_sometime_wcmd_win10_x86_2.7z
LANGUAGE/tc900_win10x86_amd64_eng.zip
LANGUAGE/tc900_win10x86_amd64_eng/